# Ingest server
INGEST_PORT=3000
INGEST_TOKEN=ganti_dengan_token_rahasia

# Mail config (SMTP)
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=email@example.com
MAIL_PASSWORD=ganti_dengan_password
MAIL_FROM_ADDRESS=email@example.com
MAIL_FROM_NAME=WA OTP Receiver
MAIL_TO=penerima@example.com
MAIL_CC=cc1@example.com,cc2@example.com
